/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One);

*{
  font-family: 'Julius Sans One'
}
.page-header {
  text-align: center
}

.flash-notices{
  padding: 40px 0px 0px 0px;
}

#true_submit_index, #false_submit_index{
  width: 100%;
  height: 3em;
  text-align: center;
  margin: 30px 0px;
}

.question_container{
  background-color: #bac2bf;
  border-radius: 15px;
  margin: 20px 20px;
}

.span2 > h1 {
  text-align: center
}

.logo{
  font-family: 'Julius Sans One'
}

.padding{
  padding-left: 25px;
  padding-top: 15px
}

#like_button{
  padding-left: 15px;
}

.modal{
  display: none;
  height: 800px;
  width: 800px;
}

.option_true, .option_false{
  margin-left: 30px;
}

.modal-body{
  height: 500px;
}

.footer{
  background-color: #2f575d;
}

.facebook_signup_form iframe{
  height: 100%;
  width: 100%;
}

#mc_hammer{
  text-align: center;
}
