<div class="facebook_signup_form modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Sign Up/In</h3>
  </div>
  <div class="modal-body">
    <div>
      <iframe src=<%=user_omniauth_authorize_path(:facebook)%> ></iframe>
    </div>
  </div>
</div>



